<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="./app/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit/</directory>
    </testsuite>
  </testsuites>
  <php>
    </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <exclude>
      <directory>./app/dbfiles_auction</directory>
      <directory>./app/Config</directory>
      <directory>./app/Exception</directory>
      <directory>./app/Layouts</directory>
      <file>./app/bootstrap.php</file>
      <file>./app/Lib/functions.php</file>
      <file>./app/Lib/Logger.php</file>
    </exclude>
  </source>
</phpunit>
